<table class="wrapper" align="center" bgcolor="#EEEEEE" style="border-spacing: 0; margin: 0 auto; width: 100%;" data-module="Spacer" data-bgcolor="Outer Background Colour">
  <tr>
    <td style="padding: 0;">
      <table class="row" align="center" bgcolor="#FFFFFF" style="border-spacing: 0; margin: 0 auto;" data-bgcolor="Inner Background Colour">
        <tr>
          <td class="spacer" height="40" width="700" style="font-size: 40px; line-height: 40px; margin: 0; padding: 0; width: 700px;">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
