<div class="hamburger-menu-wrap">
  <!--[if !mso 9]><!-->
  <a class="menu-trigger show-on-mobile mobile-center" style="display: none; background-color: #FFFFFF; position: relative;">
    <img src="../../img/menu-icon.png" width="20" height="14" style="width: 20px; height: 14px; padding: 30px 20px 0; float: left; margin-left: -100em; max-height: 0;">
  </a>
  <!--<![endif]-->
  <div class="hamburger-menu" style="position: relative;">
    <table class="menu mobile-vertical mobile-center mobile-margin-top" width="100%" style="border-spacing: 0;">
      <tr>
        <th mc:hideable mc:edit class="menu-item mobile-text-center serif" style="padding: 0; padding-right: 40px;">
          <a href="#" target="_blank" style="color: #999999; font-size: 14px; font-weight: 700; text-decoration: none; text-transform: uppercase;">News</a>
        </th>
        <th mc:hideable mc:edit class="menu-item mobile-text-center serif" style="padding: 0; padding-right: 40px;">
          <a href="#" target="_blank" style="color: #999999; font-size: 14px; font-weight: 700; text-decoration: none; text-transform: uppercase;">Services</a>
        </th>
        <th mc:hideable mc:edit class="menu-item mobile-text-center serif" style="padding: 0; padding-right: 40px;">
          <a href="#" target="_blank" style="color: #999999; font-size: 14px; font-weight: 700; text-decoration: none; text-transform: uppercase;">Work</a>
        </th>
        <th mc:hideable mc:edit class="menu-item mobile-text-center serif" style="padding: 0;">
          <a href="#" target="_blank" style="color: #999999; font-size: 14px; font-weight: 700; text-decoration: none; text-transform: uppercase;">Store</a>
        </th>
      </tr>
    </table>
  </div>
</div>
