<table class="menu mobile-margin-top" width="100%" style="border-spacing: 0;">
  <tr>
    <th class="menu-item serif" style="padding: 0; padding-right: 30px;">
      <a class="serif" href="http://example.com" target="_blank" style="color: #999999; font-size: 14px; font-weight: 700; text-decoration: none; text-transform: uppercase;" data-color="Basic Menu Item" data-size="Basic Menu Item">News</a>
    </th>
    <th class="menu-item serif" style="padding: 0; padding-right: 30px;">
      <a class="serif" href="http://example.com" target="_blank" style="color: #999999; font-size: 14px; font-weight: 700; text-decoration: none; text-transform: uppercase;" data-color="Basic Menu Item" data-size="Basic Menu Item">Services</a>
    </th>
    <th class="menu-item serif" style="padding: 0; padding-right: 30px;">
      <a class="serif" href="http://example.com" target="_blank" style="color: #999999; font-size: 14px; font-weight: 700; text-decoration: none; text-transform: uppercase;" data-color="Basic Menu Item" data-size="Basic Menu Item">Work</a>
    </th>
    <th class="menu-item serif" style="padding: 0;">
      <a class="serif" href="http://example.com" target="_blank" style="color: #999999; font-size: 14px; font-weight: 700; text-decoration: none; text-transform: uppercase;" data-color="Basic Menu Item" data-size="Basic Menu Item">Store</a>
    </th>
  </tr>
</table>
