/* =The style for the lab
-------------------------------------------------------------- */
#sidebar {
    width:300px;
    float:left;
}

#content {
    width:724px;
    float:right;
    padding-left:24px;
}


/* navigation */
nav {
    width:300px;
    background-color:rgb(240,240,240);
    border-bottom:solid 1px #e4e2e2;
    
}

nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:12px;
}

.nav-active{
	color:rgb(100,150,200);
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

nav li {
	border-top: 1px solid #e4e2e2;
}

nav li a {
    color:rgb(50,50,50);
    font-weight:700;
    display: block;
    width: 100%;
    padding: 10px 0;
    padding-left: 20px;
}

a:active,a:focus,a:hover {
	outline: none;
}



hr {
    border:none;
    background-color:rgb(220,220,220);
    height:12px;
    margin-bottom:18px;
}