<table class="menu mobile-margin-top" width="100%" style="border-spacing: 0;">
  <tr>
    <th class="menu-item serif" style="padding: 0; padding-right: 30px;">
      <a href="http://example.com" editable label="Basic Menu - Link 1" target="_blank" style="color: #999999; font-size: 14px; font-weight: 700; text-decoration: none; text-transform: uppercase;">News</a>
    </th>
    <th class="menu-item serif" style="padding: 0; padding-right: 30px;">
      <a href="http://example.com" editable label="Basic Menu - Link 2" target="_blank" style="color: #999999; font-size: 14px; font-weight: 700; text-decoration: none; text-transform: uppercase;">Services</a>
    </th>
    <th class="menu-item serif" style="padding: 0; padding-right: 30px;">
      <a href="http://example.com" editable label="Basic Menu - Link 3" target="_blank" style="color: #999999; font-size: 14px; font-weight: 700; text-decoration: none; text-transform: uppercase;">Work</a>
    </th>
    <th class="menu-item serif" style="padding: 0;">
      <a href="http://example.com" editable label="Basic Menu - Link 4" target="_blank" style="color: #999999; font-size: 14px; font-weight: 700; text-decoration: none; text-transform: uppercase;">Store</a>
    </th>
  </tr>
</table>
